.data-table {
    display: block;
}

.options {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-areas:
        "edit add"
        "all all";
    column-gap: 1rem;
    row-gap: 1rem;
    /* place-content: start; */
}

.options a:not(.button) {
    padding: 1rem;
}

.options>* {
    text-align: center;
    display: grid;
    place-self: start;
}

.options>*>i {
    place-self: center;
}

.options>*:nth-child(1) {
    grid-area: edit;
}

.options>*:nth-child(2) {
    grid-area: add;
}

.options>*:nth-child(3) {
    grid-area: all;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "description description"
        "date odometer";
    column-gap: .5rem;
    row-gap: .5rem;
}

.info .date {
    grid-area: date;
}

.info .odometer {
    grid-area: odometer;
}

.info .description {
    grid-area: description;
    font-size: 1.1rem;
}

.checkpoint {
    padding: 1rem 0 1.5rem 0;
    background-color: unset;
    border: none;
}

.checkpoint:hover {
    background-color: var(--primary-background-color) !important;
}

.checkpoint-stats {
    padding: 1rem 1rem 1.5rem 1rem;
    background-color: var(--secondary-background-color);
}

.info-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "title1 title1"
        "miles days"
        "title2 title2"
        "gallons price"
        "title3 title3"
        "mpg ppg";
    column-gap: .5rem;
    row-gap: .5rem;
}

.info-stats .miles {
    grid-area: miles;
}

.info-stats .days {
    grid-area: days;
}

.info-stats .gallons {
    grid-area: gallons;
}

.info-stats .price {
    grid-area: price;
}

.info-stats .mpg {
    grid-area: mpg;
}

.info-stats .ppg {
    grid-area: ppg;
}

.info-stats .title1 {
    grid-area: title1;
    margin-block-start: .2rem;
    margin-block-end: .2rem;
}

.info-stats .title2 {
    grid-area: title2;
    margin-block-start: .2rem;
    margin-block-end: .2rem;
}

.info-stats .title3 {
    grid-area: title3;
    margin-block-start: .2rem;
    margin-block-end: .2rem;
}

.checkpoint-stats h4 {
    margin-block-start: .2rem;
    margin-block-end: 1rem;
}

.data-table-row:hover {
    background-color: var(--secondary-background-color);
}

.data-table-row:not(.header-row) .data-table-cell-label {
    display: block;
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1024px) {
    .options {
        grid-template-columns: max-content max-content max-content;
        grid-template-areas: "edit add all";
    }

    .info-stats {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "title1 title1 title2 title2 title3 title3"
            "miles days gallons price mpg ppg";
    }
}

@media only screen and (min-width: 1280px) {}

@media only screen and (min-width: 1580px) {}