form.main-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "date"
        "odometer"
        "description"
        "buttons";
    column-gap: 1rem;
}

.input-group.date {
    grid-area: date;
}
.input-group.odometer {
    grid-area: odometer;
}
.input-group.description {
    grid-area: description;
}
.button-group {
    grid-area: buttons;
}