.data-table-row {
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "date odometer"
    "description description"
    "updated updated";
  row-gap: 1rem;
}

.data-table-cell[data-id="date"] {
  grid-area: date;
}

.data-table-cell[data-id="odometer"] {
  grid-area: odometer;
}

.data-table-cell[data-id="description"] {
  grid-area: description;
}


.data-table-cell[data-id="created"] {
  grid-area: created;
}

.data-table-cell[data-id="updated"] {
  grid-area: updated;
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1024px) {
  .data-table-row.header-row {
    display: none;
  }

  .data-table-row:not(.header-row) .data-table-cell-label {
    display: block;
  }

  /* .data-table-row {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "name name description description"
      "start_date start_date";
  } */
}

@media only screen and (min-width: 1280px) {
  .data-table-row.header-row {
    display: grid;
  }

  .data-table-row:not(.header-row) .data-table-cell-label {
    display: none;
  }

  .data-table-row {
    grid-template-columns: 1fr 1fr 3fr 2fr;
    grid-template-areas: "date odometer description updated";
  }
}

@media only screen and (min-width: 1580px) {}