.row {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "form"
    "renew";
  column-gap: 1rem;
  grid-template-rows: min-content;
}

form.main-form {
  grid-area: form;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "date odometer"
    "garage garage"
    "price price"
    "description description"
    "buttons buttons"
    "updated created";
  column-gap: 1rem;
}

.input-group.date {
  grid-area: date;
}
.input-group.odometer {
  grid-area: odometer;
}
.input-group.garage {
  grid-area: garage;
}
.input-group.price {
  grid-area: price;
}
.input-group.description {
  grid-area: description;
}
.button-group {
  grid-area: buttons;
  margin-bottom: 1rem;
}
.input-group.updated {
  grid-area: updated;
}
.input-group.created {
  grid-area: created;
}

.renew-reminders {
  grid-area: renew;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "title2"
    "reminders";
  height: min-content;
  column-gap: 1rem;
}

.renew-reminders h2 {
  grid-area: title2;
}

.renew-reminders .reminders {
  grid-area: reminders;
  display: grid;
  row-gap: 1rem;
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
  .row {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "form renew";
  }
}

@media only screen and (min-width: 1280px) {
}

@media only screen and (min-width: 1580px) {
}
